.blog-image {
    width: 50%;
    height: 50vh;
    border: 5px solid red;
    margin: 10px auto;
}

.blog-image img {
    width: 100%;
    height: 100%;
}

.blog-content {
    text-align: center;
}

.blog-content h1 {
    font-size: 3vw;
}

.blog-content p1 {
    font-size: 1.5vw;
}

.navigation {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav-items {
    display: inline;
    margin: 10px;
}

.nav-links {
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bold;
}

.nav-links:hover {
    color: black;
}

footer {
    text-align: center;
    padding: 3px;
    color: black;
    text-align: center;
}

.footer-sub {
    text-align: center;
}